
.calendar-wrapper {
    margin-top: 15px; /* Adjust the value to move the calendar down */
    display: flex;
    }


.calendar-only {
order: 1;
margin: 50px;
width: 100%;
}



.gratitude-list {
width: 100%;
order: 2;
margin: 50px;
text-align: left;

}
  
  
  


/*.calendar-container {
    width: 60%;
  }
  
  .calendar-wrapper {
    margin-bottom: 20px;
  }
  
  .pagination {
    margin-top: 20px;
  }


.gratitude-list {
    background-color: yellow;
}*/
  


/*.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:0px; 
}*/
    
    
  

  