
.calendar-wrapper {
    margin-top: 15px; /* Adjust the value to move the calendar down */
    display: flex;
    }


.calendar-only {
order: 1;
margin: 50px;
width: 100%;
}



.gratitude-list {
width: 100%;
order: 2;
margin: 50px;
text-align: left;
white-space: normal !important;

}
  
    
  

  