.whole-page {
  background-image: url("/gratitude-background.jpg");
}

.SuccessPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  .form-container {
    width: 100%;
    margin-top: -50px;
    padding: 10pt;
    position: relative;
  }
  
  .calendar-container {
    width: 90%;
  }