.SuccessPage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .calendar-container {
    flex: 1;
    margin-right: 200px;
    margin-top: -40px;
  }
  
  .form-container {
    flex: 1;
  }
  